html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fixed-size {
  max-height: 50vh; /* Giới hạn chiều cao tối đa là 50% chiều cao của màn hình */
  overflow-y: auto; /* Cho phép vuốt nếu nội dung dài hơn kích thước cố định */
  border: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 5px;
}